@using Core.Reference
@using web_app_service.Utils.Helpers
@model List<web_app_service.Models.SneakerProductViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
	<link href="~/styles/css/products/products.css" rel="stylesheet"/>
	<link href="~/styles/css/responsive/products.responsive.css" rel="stylesheet"/>
}


<div class="products">
	<div class="container products-content">
		<div class="row filter-summary">
			<button class="button toggle_menu" id="toggle_menu">
				<span>Show filters</span>
				@Html.VectorIconRender("filter.svg")
			</button>
			<div class="count">
				<span>Showing @Model.Count results</span>
			</div>
			<div class="list-select sort_type">
				<select asp-items="@Html.GetEnumSelectList<SortType>()" class="dropdown_item_select" id="currency">
					<option disabled="">Category</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<nav class="accordion filter-menu">
					<header class="menu-panel">
						<label for="mpa-close" class="box-title">Filter menu</label>
					</header>
					<input type="radio" name="accordion" id="mp1"/>
					<section class="menu-panel">
						<label class="section-title" for="mp1">Brand</label>
						<label class="section-close" for="mpa-close"></label>
						<div class="section-content">Click on an item to open. Click on its header or the list header to close.</div>
					</section>
					<input type="radio" name="accordion" id="mp2"/>
					<section class="menu-panel">
						<label class="section-title" for="mp2">Size</label>
						<label class="section-close" for="mpa-close"></label>
						<div class="section-content">Add the class 'arrows' to nav.accordion to add dropdown arrows.</div>
					</section>
					<input type="radio" name="accordion" id="mp3"/>
					<section class="menu-panel">
						<label class="section-title" for="mp3">Price</label>
						<label class="section-close" for="mpa-close"></label>
						<div class="section-content">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque finibus tristique nisi, maximus ullamcorper ante finibus eget.</div>
					</section>
					<input type="radio" name="accordion" id="mp4"/>
					<section class="menu-panel">
						<label class="section-title" for="mp4">Color</label>
						<label class="section-close" for="mpa-close"></label>
						<div class="section-content">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque finibus tristique nisi, maximus ullamcorper ante finibus eget.</div>
					</section>
					<input type="radio" name="accordion" id="mpa-close"/>
				</nav>
			</div>
			<div class="col">
				<div class="grid product-grid">
					@foreach (var product in Model)
					{
						var image = "/files/" + product.Photos.FirstOrDefault();
						var price = $"{product.Price}$";
						<div class="product-cell">
							<div class="thumb">
								<img src="@image" alt="">
							</div>
							@if (DateTime.Today.Subtract(product.AddedAt).Days < 5)
							{
								<div class="product_extra product_new">
									<a>New</a>
								</div>
							}
							<div class="info">
								<div class="brand-title">
									<a asp-area="" asp-controller="Shop" asp-action="ProductItem" asp-route-productId=@product.UniqueId>@Html.DisplayFor(modelItem => product.BrandName)</a>
								</div>
								<div class="model-title">
									<a asp-area="" asp-controller="Shop" asp-action="ProductItem" asp-route-productId=@product.UniqueId>@Html.DisplayFor(modelItem => product.ModelName)</a>
								</div>
								<div class="price">@price</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="product_pagination">
				<ul>
					@for (var y = 0; y < Math.Round(Model.Count / 12m, 0) + 1; y++)
					{
						<li class="active">
							<a href="#">@($"{Convert.ToString(y + 1).PadLeft(2, '0')}. ")</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="~/scripts/products/products.js"></script>
	<script type="text/javascript">
		initCustomDropDown();
	</script>
}