@using Core.Reference
@using Newtonsoft.Json
@using web_app_service.Data.Reference_Data
@using web_app_service.Utils.Helpers
@model List<web_app_service.Models.SneakerProductViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
	<link href="~/styles/css/products/products.css" rel="stylesheet"/>
	<link href="~/styles/css/responsive/products.responsive.css" rel="stylesheet"/>
}


<div class="products">
	<div class="container products-content">
		<div class="row filter-summary">
			<button class="button toggle-menu">
				<span>SHOW FILTERS</span>
				@Html.VectorIconRender("filter.svg")
				@Html.VectorIconRender("filter_used.svg")
			</button>
			<div class="count">
				<span>Showing @Model.Count results</span>
			</div>
			<div class="list-select sort_type">
				<select asp-items="@Html.GetEnumSelectList<SortType>()" class="dropdown_item_select" id="currency">
					<option disabled="">Category</option>
				</select>
			</div>
		</div>
		<div class="row content-area">
			<div class="filter-control">
				<nav class="accordion collapsed arrows">
					<header class="menu-panel">
						<label class="section-title">Filter menu</label>
					</header>
					<input type="checkbox" name="accordion" class="accordion-control" id="mp1"/>
					<section class="menu-panel brand">
						<label class="section-title" for="mp1">Brand</label>
						<div class="section-content">
							<input type="text" id="brand-filter" class="autocomplete-input filter-input" required="required">
							<div class="brand-list">
								@foreach (var brand in Catalog.SneakerBrandsList.Take(4))
								{
									<div class="brand-row">
										<input type="checkbox" id="@($"check-{brand}")" name="regular_checkbox" class="regular_checkbox">
										<label for="@($"check-{brand}")" class="checkbox_title">@brand</label>
									</div>
								}
							</div>
						</div>
					</section>
					<input type="checkbox" name="accordion" class="accordion-control" id="mp2"/>
					<section class="menu-panel size">
						<label class="section-title" for="mp2">Size</label>
						<div class="section-content">
							<div class="size-grid">
								@foreach (var size in Catalog.SneakerSizesList)
								{
									<button class="button size-cell">
										<input type="checkbox" id="@($"check-{size.Europe}")">
										<label for="@($"check-{size.Europe}")">@size.Europe.ToString("#.#")</label>
									</button>
								}
							</div>
						</div>
					</section>
					<input type="checkbox" name="accordion" class="accordion-control" id="mp3"/>
					<section class="menu-panel">
						<label class="section-title" for="mp3">Color</label>
						<div class="section-content">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque finibus tristique nisi, maximus ullamcorper ante finibus eget.</div>
					</section>
					<input type="checkbox" name="accordion" class="accordion-control" id="mp4"/>
					<section class="menu-panel">
						<label class="section-title" for="mp4">Price</label>
						<div class="section-content">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque finibus tristique nisi, maximus ullamcorper ante finibus eget.</div>
					</section>
					<section class="menu-panel">
						<label class="section-title" for="mp4">Condition</label>
						<div class="section-content">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque finibus tristique nisi, maximus ullamcorper ante finibus eget.</div>
					</section>
				</nav>
				<div class="spacer"></div>
			</div>
			<div class="product-results">
				<div class="grid product-grid">
					@foreach (var product in Model)
					{
						var image = "/files/" + product.Photos.FirstOrDefault();
						var price = $"{product.Price}$";
						<div class="product-cell">
							<div class="thumb">
								<img src="@image" alt="">
							</div>
							@if (DateTime.Today.Subtract(product.AddedAt).Days < 5)
							{
								<div class="product_extra product_new">
									<a>New</a>
								</div>
							}
							<div class="info">
								<div class="brand-title">
									<a asp-area="" asp-controller="Shop" asp-action="ProductItem" asp-route-productId=@product.UniqueId>@Html.DisplayFor(modelItem => product.BrandName)</a>
								</div>
								<div class="model-title">
									<a asp-area="" asp-controller="Shop" asp-action="ProductItem" asp-route-productId=@product.UniqueId>@Html.DisplayFor(modelItem => product.ModelName)</a>
								</div>
								<div class="price">@price</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		<div class="row pagination-control">
			<ul>
				@for (var y = 0; y < Math.Round(Model.Count / 12m, 0) + 1; y++)
				{
					<li class="active">
						<a href="#">@($"{Convert.ToString(y + 1).PadLeft(2, '0')}. ")</a>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="~/scripts/products/products.js"></script>
	<script type="text/javascript">
		initCustomDropDown();
		autocompleteInit($("#brand-filter").get(0), @Html.Raw(JsonConvert.SerializeObject(Catalog.SneakerBrandsList)));
	</script>
}